/* .navbar-nav a {
    font-size: 14px;
    font-weight: 400;
    color: #2F281E;
} */

.btn-primary {
    background-color: #FF9900;
    border: 0;
    padding: 15px 41px 14px 41px;
    font-size: 16px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #e78f0a;
    border: 0;
}

.btn-secondary {
    background: none;
    border: 1px solid #BCD0E5;
    padding: 15px 41px 14px 41px;
    font-size: 16px;
    font-weight: 700;
    color: #173A56;
}

.btn-secondary:hover {
    background: none;
    border: 1px solid #608db9;
    color: #173A56;
}

.navbar-nav .nav-link {
    color: #2F281E;
    font-weight: 400;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 43px;
    color: #2F281E;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #544837;
}

.hero .linked a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FF9900;
}

.hero .linked a:hover {
    color: #e78f0a;
}

.hero .linked img {
    margin-right: .5rem;
}

.feature .bground{
    position: relative;
}

.feature .bground img{
    position: absolute;
    z-index: -1;
    top: 150px;
}

.feature h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.feature .card {
    border: none;
    background: none;
}

.feature .card .card-body{
    padding: 0;
}

.feature .card-body .icon4, 
.feature .card-body .icon3,
.feature .card-body .icon2,
.feature .card-body .icon1 {
    width: 50px;
    box-sizing: border-box;
    border-radius: 19px;
}

.feature .card-body .icon4 {
    background: #7752BE;
}

.feature .card-body .icon3 {
    background: #FAB005;
}

.feature .card-body .icon2 {
    background: #F03E3D;
}

.feature .card-body .icon1 {
    background: #4DADF7;
}

.feature .card-body h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #2F281E;
}

.feature .card-body p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #544837;
}

.feature .btn-primary {
    text-transform: uppercase;
    width: 175px;
    height: 53px;
}

.h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: Bold;
    color: #2F281E;
}

.effortless h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: Bold;
    color: #2F281E;
}

.effortless p,
.contact .text-contact p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #544837;
}

.effortless .icon {
    width: 35px;
    /* padding: 11px 9px 11px 10px; */
    box-sizing: border-box;
    border-radius: 13px;
    background: #FF9900;
}

.contact .text-contact {
    width: 542px;
    text-align: center;
    line-height: 26px;
    border: none;
    position: relative;
    top: 250px;
}

.contact .text-contact p {
    color: #567592;
}

.contact .bground {
    width: 100%;
    height: 750px;
    /* margin-top: -290px; */
    background: linear-gradient( to bottom, rgba(255, 229, 210, .6), rgba(255, 244, 229, .01));
    border-radius: 50% 50% 0% 0%;
}

.avator {
    position: relative;
}

.avator1 {
    position: absolute;
    top: 250px;
}

.avator2 {
    position: absolute;
    top: 350px;
    right: 350px;
}

.avator3 {
    position: absolute;
    top: -70px;
    right: 150px;
}

.avator4 {
    position: absolute;
    top: 250px;
    right: 0px;
}

.avator5 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.avator1 .text-avator,
.avator2 .text-avator,
.avator3 .text-avator,
.avator4 .text-avator,
.avator5 .text-avator5 {
    min-width: 40px;
    min-height: 40px;
}

.avator1 .text-avator,
.avator4 .text-avator {
    max-width: 263px;
}

.avator3 .text-avator,
.avator5 .text-avator5 {
    max-width: 300px;
}

.avator2 .text-avator {
    max-width: 361px;
}

.avator1 img,
.avator4 img {
    display: flex;
    margin-left: 200px;
}

.avator2 img {
    display: flex;
    margin-left: 300px;
}

.avator3 img {
    display: flex;
    margin-left: 230px;
}

.avator5 img {
    display: flex;
    /* margin-right: 500px; */
}

.text-avator {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    display: flex;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    margin: -10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 2px 8px -3px #567592;
}

.text-avator::before, 
.text-avator::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.text-avator::before {
    width: 17px;
    height: 17px;
    bottom: -8px;
    right: 45px;
    box-shadow: 0px 3px 5px -2px #567592;
}

.text-avator::after {
    width: 9px;
    height: 9px;
    bottom: -20px;
    right: 35px;
}

.text-avator5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #2F281E;
    display: flex;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    margin: -10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    margin-left: 40px;
    box-shadow: 0px 2px 8px -3px #567592;
}

.text-avator5::before,
.text-avator5::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.text-avator5::before {
    width: 17px;
    height: 17px;
    bottom: -8px;
    left: 45px;
    box-shadow: 0px 3px 5px -2px #567592;
}

.text-avator5::after {
    width: 9px;
    height: 9px;
    bottom: -20px;
    left: 35px;
}

.marketing .card {
    border: none;
}

.marketing .card-title.active {
    color: #FF9900;
}

.marketing p {
    font-family: 'Poppins',
    sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2F281E;
}

.marketing .card-body {
    padding-left: 0;
    padding-right: 35px;
}

.marketing .card-body p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #544837;
}

.marketing .card-body h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #2F281E;
}

.marketing .bullet {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.marketing .button {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    margin: 0.1rem;
}

.marketing .button1,
.marketing .button3 {
    background-color: #EFEFEF;
} 

.marketing .button2 {
    background-color: #FF9900;
}

.footer hr {
    color: #979797;
}

.footer h5 {
    font-size: 20px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    color: #2F281E;
}

.footer ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: #544837;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.footer input {
    min-height: 48px;
    border: 1px solid #BCD0E5;
}

.footer input::placeholder {
    color: #BCD0E5;
}

.footer .btn-primary {
    background-color: #FF9900;
    border: 0;
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    font-weight: 700;
}

.footer .btn-primary:hover {
    background-color: #e78f0a;
    border: 0;
}

/* CUSTOM */
/* Small Device */
@media (max-width: 576px) {
    .avator {
        display: none;
    }

    .btn-primary,
    .btn-secondary {
        margin-top: 10px;
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .btn-primary,
    .btn-secondary {
        margin-top: 10px;
        margin-left: 0 !important;
    }
}

@media (max-width: 768px) {
    .contact .text-contact p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #544837;
    }

    .effortless .icon {
        width: 35px;
        /* padding: 11px 9px 11px 10px; */
        box-sizing: border-box;
        border-radius: 13px;
        background: #FF9900;
    }

    .contact .text-contact {
        width: 542px;
        text-align: center;
        line-height: 26px;
        border: none;
        position: relative;
        top: 250px;
    }

    .contact .text-contact p {
        color: #567592;
    }

    .contact .bground {
        width: 100%;
        height: 750px;
        /* margin-top: -290px; */
        background: linear-gradient(to bottom, rgba(255, 229, 210, .6), rgba(255, 244, 229, .01));
        border-radius: 50% 50% 0% 0%;
    }

    .avator {
        position: relative;
    }

    .avator1 {
        position: absolute;
        top: 250px;
    }

    .avator2 {
        position: absolute;
        top: 400px;
        right: 200px;
    }

    .avator3 {
        position: absolute;
        top: -70px;
        right: 70px;
    }

    .avator4 {
        position: absolute;
        top: 270px;
        right: 0px;
    }

    .avator5 {
        position: absolute;
        top: 1px;
        left: 10px;
    }

    .avator1 .text-avator,
    .avator2 .text-avator,
    .avator3 .text-avator,
    .avator4 .text-avator,
    .avator5 .text-avator5 {
        min-width: 40px;
        min-height: 40px;
    }

    .avator1 .text-avator,
    .avator4 .text-avator {
        max-width: 263px;
    }

    .avator3 .text-avator,
    .avator5 .text-avator5 {
        max-width: 300px;
    }

    .avator2 .text-avator {
        max-width: 361px;
    }

    .avator1 img,
    .avator4 img {
        display: flex;
        margin-left: 200px;
    }

    .avator2 img {
        display: flex;
        margin-left: 300px;
    }

    .avator3 img {
        display: flex;
        margin-left: 230px;
    }

    .avator5 img {
        display: flex;
        /* margin-right: 500px; */
    }

    .text-avator {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #2F281E;
        display: flex;
        background-color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
        margin: -10px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 2px 8px -3px #567592;
    }

    .text-avator::before,
    .text-avator::after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .text-avator::before {
        width: 17px;
        height: 17px;
        bottom: -8px;
        right: 45px;
        box-shadow: 0px 3px 5px -2px #567592;
    }

    .text-avator::after {
        width: 9px;
        height: 9px;
        bottom: -20px;
        right: 35px;
    }

    .text-avator5 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #2F281E;
        display: flex;
        background-color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
        margin: -10px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        margin-left: 40px;
        box-shadow: 0px 2px 8px -3px #567592;
    }

    .text-avator5::before,
    .text-avator5::after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .text-avator5::before {
        width: 17px;
        height: 17px;
        bottom: -8px;
        left: 45px;
        box-shadow: 0px 3px 5px -2px #567592;
    }

    .text-avator5::after {
        width: 9px;
        height: 9px;
        bottom: -20px;
        left: 35px;
    }

}


